[submodule "third-party/tinyxml2"]
	path = third-party/tinyxml2
	url = git@github.com:Tinaynox/tinyxml2.git
[submodule "third-party/libpng"]
	path = third-party/libpng
	url = git@github.com:Tinaynox/libpng.git
[submodule "third-party/zlib"]
	path = third-party/zlib
	url = git@github.com:Tinaynox/zlib.git
[submodule "third-party/box2d"]
	path = third-party/box2d
	url = git@github.com:Tinaynox/box2d.git
[submodule "third-party/jsoncpp"]
	path = third-party/jsoncpp
	url = git@github.com:Tinaynox/jsoncpp.git
[submodule "third-party/minizip-ng"]
	path = third-party/minizip-ng
	url = git@github.com:Tinaynox/minizip-ng.git
[submodule "third-party/libstem_gamepad"]
	path = third-party/libstem_gamepad
	url = git@github.com:Tinaynox/libstem_gamepad.git
[submodule "third-party/stb"]
	path = third-party/stb
	url = git@github.com:Tinaynox/stb.git
[submodule "third-party/freetype2"]
	path = third-party/freetype2
	url = git://git.savannah.gnu.org/freetype/freetype2.git
[submodule "third-party/libjpeg-cmake"]
	path = third-party/libjpeg-cmake
	url = git@github.com:Tinaynox/libjpeg-cmake.git
[submodule "third-party/OpenFBX"]
	path = third-party/OpenFBX
	url = git@github.com:Tinaynox/OpenFBX.git
[submodule "third-party/miniz"]
	path = third-party/miniz
	url = git@github.com:Tinaynox/miniz.git
[submodule "third-party/optick"]
	path = third-party/optick
	url = git@github.com:Tinaynox/optick.git
[submodule "third-party/fast_float"]
	path = third-party/fast_float
	url = git@github.com:Tinaynox/fast_float.git
[submodule "third-party/openal-soft"]
	path = third-party/openal-soft
	url = git@github.com:Tinaynox/openal-soft.git
[submodule "third-party/mono"]
	path = third-party/mono
	url = git@github.com:Tinaynox/mono.git
